h1{
  text-align: center;
}

body{
  background-color: rgb(245, 233, 224);
}
h4{
  padding: 30px;
}
.form{
  background-color: rgba(167, 216, 223, 0.993);
  padding: 30px;
}

.img{
  width: 70%;
  border: 2px solid rgb(10, 13, 48);
  margin: 30px;
  float:right;
}
p {
  padding-bottom: 5px;
}

.btn {
  float:right;
  background-color: rgb(235, 145, 29);
  font-weight:bolder;
}

#result {
  display: none;
  background-color: rgb(203, 231, 170);
  font-weight:bolder;
  padding: 40px;
  font-size: 20px;
}

.format {
  margin: 30px;
  padding-bottom: 10px;
}
#display1{
  color:crimson;
  font-style: italic;
}
#display2{
  color:crimson;
  font-style: italic;
}
#display3{
  color:crimson;
  font-style: italic;
}