h1{
  text-align: center;
}

body{
  background-color: rgb(245, 233, 224);
}
h4{
  padding: 30px;
}
.form{
  background-color: rgba(167, 216, 223, 0.993);
  padding: 30px;
}

p {
  padding-bottom: 5px;
}

.btn {
  float:right;
  background-color: rgb(235, 145, 29);
  font-weight:bolder;
}

#result {
  display: none;
  
}

#display{
  background-color: rgb(203, 231, 170);
  font-weight:bolder;
  padding: 30px;
}

#display2{
  text-align: center;
  background-color: rgb(203, 231, 170);
  font-weight:bolder;
  padding: 30px;
}